/*Large Monitor*/
@media only screen and (min-width : 1200px) {  
    /* Styles */ 
  }  
   
/*Small Monitor*/
@media only screen and (min-width : 992px) and (max-width : 1200px) {  
    /* Styles */ 
  }  

/*Tablet*/
@media only screen and (min-width : 768px) and (max-width : 992px) {  
    .location.home-v2 {
        position: absolute;
        left: 0;
        bottom: 0;
        color: #777
    }

/*Mobil*/
@media only screen and (max-width : 768px) {  
    /* Styles */ 
  }  